
{% extends 'list_container/base.html' %}

{% block body %}
<h1>Create new container</h1>
<form method="POST">
    {% csrf_token %}
    {{ container_form.as_p }}
    <input type="submit" value="Create">
</form>
{% if user.is_authenticated %}
{% for list in list_container %}

    <li>
        <a href="{% url 'item-list' list.id %}"><h2> {{ list.title }}</h2></a>
        <a href="{% url 'list-update' list.id %}"><button>Update</button></a>
        <a href="{% url 'list-delete' list.id %}"><button>Delete</button></a>
    </li>

{% endfor %}
{% else %}
    <p>Please Log in</p>
{% endif %}

{% endblock %}